<h1>Talentos EASY.ROCKYS</h1>
<br />
<hr />
<form [formGroup]="formGroup" class="container form-horizontal" (ngSubmit)="onAddCandidate()">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-candidate-tab" data-toggle="pill" href="#pills-candidate" role="tab" aria-controls="pills-home"
        aria-selected="true">Dados Candidato</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-bank-tab" data-toggle="pill" href="#pills-bank" role="tab" aria-controls="pills-bank"
        aria-selected="false">Dados bancários</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-knowledge-tab" data-toggle="pill" href="#pills-knowledge" role="tab" aria-controls="pills-knowledge"
        aria-selected="false">Conhecimento</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-candidate" role="tabpanel" aria-labelledby="pills-candidate-tab">

      <div class="row">
        <div class="col">
          <input type="text" class="form-control" id="name"formControlName="name" placeholder="Nome">
        </div>
        <div class="col">
          <input type="text" class="form-control" id="email"  formControlName="email" placeholder="Email">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" id="skypeAddress" formControlName="skypeAddress" placeholder="Skype">
        </div>
        <div class="col">
          <input type="text" class="form-control" id="cellphone" formControlName="cellphone" placeholder="cellphone">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" id="linkedinAddress"formControlName="linkedinAddress"  placeholder="Linkedin">
        </div>
        <div class="col">
          <input type="text" class="form-control" id="portfolio" formControlName="portfolio" placeholder="Portifolio">
        </div>
      </div>
      <div class="row">
          <div class="col">
            <input type="text" class="form-control" id="state"formControlName="state"  placeholder="Estado">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="city" formControlName="city" placeholder="Cidade">
          </div>
        </div>
      <div class="row">
        <div class="col">
          <label class="checkbox-inline">
            <input type="checkbox" id="fourHours" formControlName="fourHours" value=""> 4 horas
          </label>
        </div>
        <div class="col">
          <label class="checkbox-inline">
            <input type="checkbox" id="fourSixHours" formControlName="fourSixHours" value=""> 4 à 6 horas
          </label>
        </div>
        <div class="col">
          <label class="checkbox-inline">
            <input type="checkbox" id="sixEightHours" formControlName="sixEightHours" value=""> 6 à 8 horas
          </label>
        </div>
        <div class="col">
          <label class="checkbox-inline">
            <input type="checkbox" id="eightHours"  formControlName="eightHours" value=""> 8 horas
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="checkbox-inline">
            <input type="checkbox" id="morning" formControlName="morning" value=""> Manhã
          </label>
        </div>
        <div class="col">
          <label class="checkbox-inline">
            <input type="checkbox" id="afternoon" formControlName="afternoon" value=""> Tarde
          </label>
        </div>
        <div class="col">
          <label class="checkbox-inline">
            <input type="checkbox" id="night "formControlName="night" value=""> Noite
          </label>
        </div>
        <div class="col">
          <label class="checkbox-inline">
            <input type="checkbox" id="dawn" formControlName="dawn" value=""> Madrugada
          </label>
        </div>
        <div class="col">
          <label class="checkbox-inline">
            <input type="checkbox" id="comercial" formControlName="comercial" value=""> Comercial
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" id="salary" formControlName="salary" placeholder="Salario">
        </div>
        <div class="col">
          <input type="text" class="form-control" id="crudLink" formControlName="crudLink"  placeholder="Link do crud">
        </div>
      </div>
    </div> <!-- END CANDIDATE-->
    <div class="tab-pane fade" id="pills-bank" role="tabpanel" aria-labelledby="pills-bank-tab">
      <!-- BANK -->
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" id="recipient" formControlName="recipient" placeholder="Recebedor">
        </div>
        <div class="col">
          <input type="text" class="form-control" id="cpfRecipient" formControlName="cpfRecipient" placeholder="CPF Recipient">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" id="bankName" formControlName="bankName" placeholder="Nome do banco">
        </div>
        <div class="col">
          <input type="text" class="form-control" id="agency" formControlName="agency" placeholder="Agencia">
        </div>
        <div class="col">
          <input type="text" class="form-control" id="account" formControlName="account"  placeholder="Conta">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="checkbox-inline">
            <input type="checkbox" id="savings" formControlName="savings" value=""> Poupança
          </label>
        </div>
        <div class="col">
          <label class="checkbox-inline">
            <input type="checkbox" id="chain" formControlName="chain" value=""> Corrente
          </label>
        </div>
      </div>
    </div><!-- END BANK-->
    <div class="tab-pane fade" id="pills-knowledge" role="tabpanel" aria-labelledby="pills-knowledge-tab">
      <div class="row">
        <div class="col">
            <label  class="control-label">Ionic</label>
          <input type="number" class="form-control" formControlName="ionic" id="ionic" placeholder="Ionic">
        </div>
        <div class="col">
            <label  class="control-label">Android</label>
          <input type="number" class="form-control" formControlName="android" id="android" placeholder="Android">
        </div>
        <div class="col">
            <label  class="control-label">IOS</label>
          <input type="number" class="form-control" formControlName="ios"  id="ios" placeholder="Ios">
        </div>
        <div class="col">
            <label  class="control-label">HTML</label>
          <input type="number" class="form-control" formControlName="html" id="html" placeholder="Html">
        </div>
        <div class="col">
            <label  class="control-label">CSS</label>
          <input type="number" class="form-control"formControlName="css"  id="css" placeholder="Bootstrap">
        </div>
        <div class="col">
            <label  class="control-label">JQUERY</label>
          <input type="number" class="form-control" formControlName="jquery" id="jquery" placeholder="jquery">
        </div>
      </div>
      <div class="row">
        <div class="col">
            <label  class="control-label">JAVA</label>
          <input type="number" class="form-control" formControlName="java" id="java" placeholder="java">
        </div>
        <div class="col">
            <label  class="control-label">C</label>
          <input type="number" class="form-control"formControlName="c" id="c" placeholder="C">
        </div>
        <div class="col">
            <label  class="control-label">C++</label>
          <input type="number" class="form-control" formControlName="cplusplus" id="cplusplus" placeholder="Cplusplus">
        </div>
        <div class="col">
            <label  class="control-label">CAKE</label>
          <input type="number" class="form-control"formControlName="cake" id="cake" placeholder="Django">
        </div>
        <div class="col">
            <label  class="control-label">MAGENTO</label>
          <input type="number" class="form-control" formControlName="magento" id="magento" placeholder="Magento">
        </div>
        <div class="col">
            <label  class="control-label">PHP</label>
          <input type="number" class="form-control" formControlName="php" id="php" placeholder="Php">
        </div>
      </div>
      <div class="row">
        <div class="col">
            <label  class="control-label">WORDPRESS</label>
          <input type="number" class="form-control" formControlName="wordpress" id="wordpress" placeholder="Python">
        </div>
        <div class="col">
            <label  class="control-label">RUBY</label>
          <input type="number" class="form-control" formControlName="ruby" id="ruby" placeholder="SqlServer">
        </div>
        <div class="col">
            <label  class="control-label">MYSQL</label>
          <input type="number" class="form-control" formControlName="mySql" id="mySql" placeholder="MySql">
        </div>
        <div class="col">
            <label  class="control-label">SALESFORCE</label>
          <input type="number" class="form-control" formControlName="salesforce" id="salesforce" placeholder="Salesforce">
        </div>
        <div class="col">
            <label  class="control-label">PHOTOSHOP</label>
          <input type="number" class="form-control" formControlName="photoshop" id="photoshop" placeholder="Photoshop">
        </div>
        <div class="col">
            <label  class="control-label">illustrator</label>
          <input type="number" class="form-control" formControlName="illustrator" id="illustrator" placeholder="Illustrator">
        </div>
      </div>
      <div class="row">
          <div class="col">
              <label  class="control-label">Angular</label>
              <input type="number" class="form-control" formControlName="angular" id="angular" placeholder="angular">
            </div>
          <div class="col">
              <label  class="control-label">SEO</label>
              <input type="number" class="form-control" formControlName="seo" id="seo" placeholder="SEO">
            </div>
            <div class="col">
                <label  class="control-label">ASP</label>
                <input type="number" class="form-control" formControlName="asp" id="asp" placeholder="ASP">
              </div>
      </div>
      <div class="row">
          <div class="col">
              <label  class="control-label">Others</label>
              <input type="number" class="form-control" formControlName="others" id="others" placeholder="Outros">
            </div>
      </div>
    </div>
    <!---->
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
        <div class="text-center" >
            <input
              type="submit"
              class="btn btn-primary"
              value="Salvar"
              id= "btnSave"
              style="padding-left: 50px; padding-right: 50px"
             />
          </div>
    </div>
  </div>
</form>
