<form class="emp-form" #customerForm="ngForm" (ngSubmit)="onSubmit(customerForm)">
  <input type="hidden" name="CustomerId" #EmployeeID="ngModel" [(ngModel)]="customerService.selectedCustomer.customerId">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" name="FirstName" #FirstName="ngModel" [(ngModel)]="customerService.selectedCustomer.firstName"
        placeholder="First Name" required>
      <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">This Field is Required.</div>
    </div>
    <div class="form-group col-md-6">
      <input class="form-control" name="LastName" #LastName="ngModel" [(ngModel)]="customerService.selectedCustomer.lastName" placeholder="Last Name"
        required>
      <div class="validation-error" *ngIf="LastName.invalid && LastName.touched">This Field is Required.</div>
    </div>
  </div>
  <div class="form-group">
    <input class="form-control" name="Email" #Email="ngModel" [(ngModel)]="customerService.selectedCustomer.email" placeholder="Email">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" name="CPF" #CPF="ngModel" [(ngModel)]="customerService.selectedCustomer.cpf" placeholder="CPF">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <button [disabled]="!customerForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
        <i class="fa fa-floppy-o"></i> Submit</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(customerForm)">
        <i class="fa fa-repeat"></i> Reset</button>
    </div>
  </div>
</form>
