<form class="emp-form" #candidateForm="ngForm" (ngSubmit)="onSubmit(candidateForm)">
  <nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
        aria-selected="true">Home</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
        aria-selected="false">Profile</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
        aria-selected="false">Contact</a>
      <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about"
        aria-selected="false">About</a>
    </div>
  </nav>
  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <input type="hidden" name="CandidateId" #EmployeeID="ngModel" [(ngModel)]="candidateService.selectedCandidate.candidateId">
      <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" name="Name" #Name="ngModel" [(ngModel)]="candidateService.selectedCandidate.Name" placeholder="Name"
            required>
          <div class="validation-error" *ngIf="Name.invalid && Name.touched">This Field is Required.</div>
        </div>
        <div class="form-group col-md-6">
          <input class="form-control" name="Email" #Email="ngModel" [(ngModel)]="candidateService.selectedCandidate.Email" placeholder="Email"
            required>
          <div class="validation-error" *ngIf="Email.invalid && Email.touched">This Field is Required.</div>
        </div>
      </div>
      <div class="form-group">
        <input class="form-control" name="SkypeAddress" #SkypeAddress="ngModel" [(ngModel)]="candidateService.selectedCandidate.email"
          placeholder="SkypeAddress">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" name="Cellphone" #Cellphone="ngModel" [(ngModel)]="candidateService.selectedCandidate.Cellphone"
            placeholder="Cellphone">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" name="City" #Cellphone="ngModel" [(ngModel)]="candidateService.selectedCandidate.City" placeholder="City">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" name="LinkedinAddress" #LinkedinAddress="ngModel" [(ngModel)]="candidateService.selectedCandidate.LinkedinAddress"
            placeholder="LinkedinAddress">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" name="State" #State="ngModel" [(ngModel)]="candidateService.selectedCandidate.State" placeholder="State">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" name="Portfolio" #Portfolio="ngModel" [(ngModel)]="candidateService.selectedCandidate.Portfolio"
            placeholder="Portfolio">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 checkbox">
          <label>FourHours
            <input type="checkbox" name="FourHours" [checked]="unchecked" #FourHours="ngModel" [(ngModel)]="candidateService.selectedCandidate.FourHours">
          </label>
        </div>
        <div class="form-group col-md-6 checkbox">
          <label>FourSixHours
            <input type="checkbox" name="FourSixHours" value="false"  #FourSixHours="ngModel" [(ngModel)]="candidateService.selectedCandidate.FourSixHours">
          </label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 checkbox">
          <label>SixEightHours
            <input type="checkbox" name="SixEightHours" value="false"  #SixEightHours="ngModel" [(ngModel)]="candidateService.selectedCandidate.SixEightHours">
          </label>
        </div>
        <div class="form-group col-md-6 checkbox">
          <label>EightHours
            <input type="checkbox" name="EightHours" value="false"  #EightHours="ngModel" [(ngModel)]="candidateService.selectedCandidate.EightHours">
          </label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 checkbox">
          <label>HoursOnWeekends
            <input type="checkbox" name="HoursOnWeekends" value="false"  #HoursOnWeekends="ngModel" [(ngModel)]="candidateService.selectedCandidate.HoursOnWeekends">
          </label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 checkbox">
          <label>Morning
            <input type="checkbox" name="Morning"value="false"   #Morning="ngModel" [(ngModel)]="candidateService.selectedCandidate.Morning">
          </label>
        </div>
        <div class="form-group col-md-6 checkbox">
          <label>Afternoon
            <input type="checkbox" name="Afternoon"value="false"  #Afternoon="ngModel" [(ngModel)]="candidateService.selectedCandidate.Afternoon">
          </label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 checkbox">
          <label>Night
            <input type="checkbox" name="Night" value="false"  #Night="ngModel" [(ngModel)]="candidateService.selectedCandidate.Night">
          </label>
        </div>
        <div class="form-group col-md-6 checkbox">
          <label>Dawn
            <input type="checkbox" name="Dawn" value="false"  #Dawn="ngModel" [(ngModel)]="candidateService.selectedCandidate.Dawn">
          </label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 checkbox">
          <label>Comercial
            <input type="checkbox" name="Comercial" value="false"  #Comercial="ngModel" [(ngModel)]="candidateService.selectedCandidate.Comercial">
          </label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" name="Salary" #Salary="ngModel" [(ngModel)]="candidateService.selectedCandidate.Salary" placeholder="Salary">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" name="CrudLink" #CrudLink="ngModel" [(ngModel)]="candidateService.selectedCandidate.CrudLink"
            placeholder="CrudLink">
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" name="Recipient" #Recipient="ngModel" [(ngModel)]="candidateService.selectedCandidate.Recipient"
            placeholder="Recipient">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" name="CPFRecipient" #CPFRecipient="ngModel" [(ngModel)]="candidateService.selectedCandidate.CPFRecipient"
            placeholder="CPFRecipient">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" name="BankName" #BankName="ngModel" [(ngModel)]="candidateService.selectedCandidate.BankName"
            placeholder="BankName">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" name="Agency" #Agency="ngModel" [(ngModel)]="candidateService.selectedCandidate.Agency" placeholder="Agency">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" name="Account" #Account="ngModel" [(ngModel)]="candidateService.selectedCandidate.Account" placeholder="Account">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" name="Chain" #Chain="ngModel" [(ngModel)]="candidateService.selectedCandidate.Chain" placeholder="Chain">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" name="Savings" #Savings="ngModel" [(ngModel)]="candidateService.selectedCandidate.Savings" placeholder="Savings">
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="row">
        <div class="form-group col-md-3">
          <input class="form-control" name="Ionic" #Ionic="ngModel" [(ngModel)]="candidateService.selectedCandidate.Ionic" placeholder="Ionic">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Android" #Android="ngModel" [(ngModel)]="candidateService.selectedCandidate.Android" placeholder="Android">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Ios" #Cellphone="ngModel" [(ngModel)]="candidateService.selectedCandidate.Ios" placeholder="Ios">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Html" #Cellphone="ngModel" [(ngModel)]="candidateService.selectedCandidate.Html" placeholder="Html">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <input class="form-control" name="Css" #Ionic="ngModel" [(ngModel)]="candidateService.selectedCandidate.Css" placeholder="Css">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Bootstrap" #Bootstrap="ngModel" [(ngModel)]="candidateService.selectedCandidate.Bootstrap"
            placeholder="Bootstrap">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Jquery" #Jquery="ngModel" [(ngModel)]="candidateService.selectedCandidate.Jquery" placeholder="Jquery">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Angular" #Angular="ngModel" [(ngModel)]="candidateService.selectedCandidate.Angular" placeholder="Html">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <input class="form-control" name="Java" #Ionic="ngModel" [(ngModel)]="candidateService.selectedCandidate.Java" placeholder="Java">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Asp" #Bootstrap="ngModel" [(ngModel)]="candidateService.selectedCandidate.Asp" placeholder="Asp">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="C" #Jquery="ngModel" [(ngModel)]="candidateService.selectedCandidate.C" placeholder="C">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Cplusplus" #Angular="ngModel" [(ngModel)]="candidateService.selectedCandidate.Cplusplus"
            placeholder="Cplusplus">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <input class="form-control" name="Cake" #Cake="ngModel" [(ngModel)]="candidateService.selectedCandidate.Cake" placeholder="Cake">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Django" #Django="ngModel" [(ngModel)]="candidateService.selectedCandidate.Django" placeholder="Asp">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Magento" #Magento="ngModel" [(ngModel)]="candidateService.selectedCandidate.MagentoC" placeholder="Magento">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Php" #Php="ngModel" [(ngModel)]="candidateService.selectedCandidate.Php" placeholder="Php">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <input class="form-control" name="Wordpress" #Wordpress="ngModel" [(ngModel)]="candidateService.selectedCandidate.Wordpress"
            placeholder="Wordpress">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Python" #Python="ngModel" [(ngModel)]="candidateService.selectedCandidate.Python" placeholder="Python">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Ruby" #Ruby="ngModel" [(ngModel)]="candidateService.selectedCandidate.Ruby" placeholder="Ruby">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="SqlServer" #SqlServer="ngModel" [(ngModel)]="candidateService.selectedCandidate.SqlServer"
            placeholder="SqlServer">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <input class="form-control" name="MySql" #MySql="ngModel" [(ngModel)]="candidateService.selectedCandidate.MySql"
            placeholder="MySql">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Salesforce" #Salesforce="ngModel" [(ngModel)]="candidateService.selectedCandidate.Salesforce" placeholder="Salesforce">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Photoshop" #Photoshop="ngModel" [(ngModel)]="candidateService.selectedCandidate.Photoshop" placeholder="Photoshop">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Illustrator" #Illustrator="ngModel" [(ngModel)]="candidateService.selectedCandidate.Illustrator"
            placeholder="Illustrator">
        </div>
      </div>
      <div class="form-group col-md-3">
          <input class="form-control" name="Seo" #Seo="ngModel" [(ngModel)]="candidateService.selectedCandidate.Seo" placeholder="Seo">
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" name="Others" #Others="ngModel" [(ngModel)]="candidateService.selectedCandidate.Others"
            placeholder="Others">
        </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <button [disabled]="!candidateForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
        <i class="fa fa-floppy-o"></i> Submit</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(CandidateForm)">
        <i class="fa fa-repeat"></i> Reset</button>
    </div>
  </div>
</form>
