<table class="table table-sm table-hover">
  <tr *ngFor="let candidate of candidateService.candidateList">
    <td>{{customer.firstName}} </td>
    <td>{{customer.lastName}} </td>
    <td>{{customer.cpf}} </td>
    <td>{{customer.email}} </td>
    <td>
      <a class="btn" (click)="showForEdit(candidate)">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="btn text-danger" (click)="onDelete(candidate.candidateId)">
        <i class="fa fa-trash-o"></i>
      </a>
    </td>
  </tr>
</table>
